
.resize {
    width: 400px;
    height: 300px;
    /* object-fit: cover; */
}

.resizegrand {
  width: 600px;
  height: 450px;
  /* object-fit: cover; */
}

.text-align-award {
  text-align: center;
}

.exhibition {
  color:
}
